<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ppd.dao.RepaymentplanDao">
  <select id="queryById" resultType="com.ppd.entity.Repaymentplan" parameterType="int">
  	select
  	repaymentplanid,
  	period,
	rate,
	principal,
	interest,
	shouldtime
  	from Repaymentplan where repaymentplanid = #{repaymentplanid}
  </select>
</mapper>
